BASE_URL=http://localhost:3001
PORT=3001
JWT_KEY=

DB_URL=mongodb+srv://<username>:<password>@<host>/<dbname>?appName=<cluster>

MINIO_BASE_URL=http://localhost:9000
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET_NAME=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_ROOT_FOLDER=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USERNAME=
SMTP_PASSWORD=
DESTINATION_EMAIL=